---
import { getCollection } from "astro:content";

import MainLayout from "#/layouts/MainLayout.astro";

export async function getStaticPaths() {
  const recipes = await getCollection("recipes");
  return recipes.map((r) => ({
    params: { id: r.id },
    props: { recipe: r },
  }));
}

const { recipe } = Astro.props;
---

<MainLayout>
  <a href="/recipes">&laquo; back to recipes</a>
  <h1>{recipe.data.title}</h1>
  <p>{recipe.data.description}</p>
  <h2>Ingredients</h2>
  <ul>
    {recipe.data.ingredients.map((i) => <li>{i}</li>)}
  </ul>
  <h2>Method</h2>
  <ol>
    {recipe.data.method.map((i) => <li>{i}</li>)}
  </ol>
  {
    !!recipe.data.notes?.length && (
      <>
        <h2>Notes</h2>
        <ul>
          {recipe.data.notes.map((i) => (
            <li>{i}</li>
          ))}
        </ul>
      </>
    )
  }
</MainLayout>

<style>
  h1 {
    margin: 0.5rem auto 1rem;
  }
  h2 {
    margin: 2rem 0 1rem;
  }
  h3 {
    margin: 1rem auto;
  }
  ol,
  ul {
    li {
      margin: 1rem 0;
    }
  }
</style>
